@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #39FF14, #88FF0C, #B0FF08, #D7FF04,#FFFF00);
    background-size: 300% 100%; /* Expand the gradient for smooth movement */
    animation: gradientAnimation 6s infinite; /* Adjust duration as needed */
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%; /* Start position */
    }
    50% {
      background-position: 100% 50%; /* Middle position */
    }
    100% {
      background-position: 0% 50%; /* Loop back */
    }
  }
  